:root {
    --background-colour: rgb(82, 150, 165);
    --background-highlight-colour: rgb(130, 221, 240);
    --board-colour: rgb(246, 194, 139);
    --board-highlight-colour: rgb(252, 215, 173);
    --board-contrast-colour: rgb(165, 117, 72);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
    
    margin: 0px;

    background-color: var(--background-colour);

    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;
}

#content {
    height: 95vh;
    width: 100vw;

    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    background: var(--background-colour);
}

.board {
    margin: 10vh 20vw;
    margin-bottom: 5vh;

    flex: 1 0 auto;
    display: flex;


    background:var(--board-contrast-colourcolour);
    border-radius: 10px;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
}

.sideBar {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    background: var(--board-colour);
    border: solid var(--board-contrast-colour) 1px;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.timeDiv {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: content;
    gap: 25px;

    background: var(--board-colour);
    border-bottom: solid var(--board-contrast-colour) 1px;
    border-top-left-radius: 10px;
}

.projectDiv {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-top: 20px;

    background: var(--board-colour);
    border-bottom: solid var(--board-contrast-colour) 1px;
    border-bottom-left-radius: 10px;
}

.sideBarRow {
    width: auto;
    height: auto;

    display: flex;
    justify-content: left;
    align-items: center;

}

button {
    flex: 1 0 auto;
    height: 24px;
    width: 96px;

    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 5px;
    color: var(--board-contrast-colour);
    font-size: 20px;
    transition: 0.1s;
    text-overflow: clip ellipsis;
}

button:hover {
    transform: scale(1.2);
    color: black;
}

table {
    color: var(--board-contrast-colour);
    text-align: start;
}
th {
    text-align: start;
}


.taskList {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    background: var(--board-colour);
    border: solid var(--board-contrast-colour) 1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.taskDiv {
    flex: 1 0 auto;
    display: flex;

    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

.buttons {
    display: flex;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    gap: 0px;
    margin-bottom: 4vh;
}

#create-project,
#create-task {
    flex: .1 0 auto;
    color: white;
}

#footer {
    height: 5vh;
    width: 100vw;
    text-align: center;

    background: var(--background-colour);
}
 
.project-modal {
    background-color: var(--background-colour);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 600px;
    max-width: 80%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: start;
    align-items: center;

    opacity: 0;
    pointer-events: none;
}

.modal-row {
    display: flex;
    
}

.modal-close-button {
    position: fixed;
    top: 1%;
    right: 1%;

    height: 20px;
    width: 20px;

    color: white;
    transition: 0.1s;
}

.project-modal.show {
    opacity: 1;
    pointer-events: auto;
}

form {
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}